<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
    <h3>Voici la page du potin n°<%= id + 1%></h3>
      <p>
        <b>Son Auteur :</b><br> == <%= gossip.author %> == <br/><br>
        <b>Le contenu du potin :</b><br> == <%= gossip.content %> == <br/><br>
      </p>
      <a href="/">Lien pour revenir au menu. </a>
  </body>
</html>